body {
	color: #ccc;
}

a {
	color: #cac9c9;
	text-decoration: none;
}

@keyframes cssProgressActive {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 35px 35px;
	}
}

.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.hvr-sweep-to-right::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #989898;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: #fff;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.progress {
	width: 100%;
	height: 20px;
	background: #858585;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 10px;
	border: 0;
	-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 #FFF;
	-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 #FFF;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 #FFF;
}

.progress .progress-bar {
	display: block;
	height: 100%;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	padding: 0;
	font-weight: 700;
	-webkit-background-size: 35px 35px;
	background-color: #009dff;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
	box-shadow: inset 0 1px 0 0 #98d8ff, inset 0 -1px 1px #3a91c8;
	border: 1px solid #31607d;
	animation: cssProgressActive 2s linear infinite;
}

.profile {
	background-color: #404040;
	display: flex;
	padding: 10px;
}

.profile .navigation {
	width: 30%
}

.profile .navigation .avatar {
	display: flex;
	padding: 20px;
	background-color: #505050;
	margin-bottom: 24px;
}

.profile .navigation .avatar .img {
	position: relative;
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile .navigation .avatar .img .upload-avatar {
	position: absolute;
	bottom: -30px;
	left: 0;
	border: 1px solid transparent;
	border-radius: 40px;
	line-height: 1.3;
	padding: 5px 7px;
	font-size: 10px;
	color: #fff;
	min-width: 80px;
	font-weight: bold;
	background: #6b6a6a;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.profile .navigation .avatar .img img:not(.avatar-frame) {
	width: 75px;
	height: auto;
	border-radius: 50%;
}

.profile .navigation .avatar .img .avatar-frame {
	position: absolute;
	width: 90px;
	height: auto;
	top: -5px;
	left: -3px;
}

.profile .navigation .avatar .profile-info {
	width: calc(100% - 90px);
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile .navigation .avatar .profile-info h3 {
	margin-bottom: 5px;
	color: #ffffff;
}

.profile .navigation .avatar .profile-info .coin img {
	width: 15px;
	height: 15px;
	position: relative;
}

.profile .navigation .avatar .profile-info .coin {
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #ff9393;
	font-weight: 600;
}

.profile .navigation .level {
	padding: 10px;
	background-color: #505050;
	border-radius: 8px;
	margin-bottom: 10px;
}

.profile .navigation .level .level-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile .info {
	width: 100%;
}

.profile .navigation .menu ul {
	background: #666565;
	list-style-type: none;
	padding: 0;
	border: 0;
}

.profile .navigation .menu ul li {
	width: calc(100% - 3px);
}

.profile .navigation .menu ul li:has(a.active) {
	background: #989898;
	border-left: 3px solid #2aa5f2;
}


.profile .navigation .menu .nav-tabs .nav-link.active {
	background-color: unset;
	border: 0;
}


.profile .navigation .menu ul li a {
	display: block !important;
	color: #ffffff;
	padding: 9px 30px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border: 0;
}

.profile .navigation .menu ul li.active a {
	font-weight: 700;
}

.profile .info {
	padding: 10px;
	padding-left: 16px;
}

.profile .info .tab-content .tab-title {
	color: #ffffff;
	border-left: 3px solid #2aa5f2;
	padding-left: 10px;
}

.profile .info .tab-content .tab-body .input-zero .label {
	background: unset;
}

.profile .info .tab-content .tab-body .input-zero {
	display: flex;
	margin-bottom: 16px;
}

.profile .info .tab-content .tab-body .input-zero .label {
	min-width: 130px;
}

.profile .info .tab-content .tab-body .input-zero .input {
	width: calc(100% - 130px);
}

.profile .info .tab-content .tab-body .input-zero p:not(.label) {
	color: #ffffff;
}

.profile .info .tab-content #tab-movie-history .watch-history {
	width: 100%;
}

.profile .info .tab-content #tab-movie-history .watch-history .item a>div:first-child {
	width: 75px;
	height: 75px;
}

.profile .info .tab-content #tab-movie-history .watch-history .item a>div:last-child:before {
	height: 103%;
}

.profile .info .tab-content #tab-movie-history .watch-history .item a>div:last-child {
	padding: 5px;
}

.profile .info .tab-content #tab-movie-history .watch-history .item a img {
	width: 100%;
}

.profile .info .tab-content #tab-movie-follow .movie-follow .delete {
	position: absolute;
	z-index: 3;
	right: 0;
	background: #000;
	padding: 5px 10px;
	top: 0;
	color: #fff;
}

.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list {
	align-items: stretch;
	justify-content: stretch;
}

.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item a:not(.delete) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.profile .info .tab-content #tab-movie-follow .movie-follow .pagination {
	list-style: none;
}

.profile .info .tab-content #tab-movie-follow .movie-follow .pagination .pagination-item.active a {
	background-color: #4caf50;
}

.profile .info .tab-content #tab-update-profile #form-change-password .invalid-feedback {
	min-height: 20px;
	display: block;
	visibility: hidden;
}

.profile .info .tab-content #tab-update-profile #form-change-password .is-invalid~.invalid-feedback {
	visibility: visible;
}

.profile .info .tab-content #tab-deposit .alert-deposit {
	font-size: 14px;
	padding: 10px;
	background-color: #6d6d6d;
	border-radius: 5px;
	color: #fff;
	box-shadow: 1px 1px 1px 1px #000;
}

.profile .info .tab-content #tab-deposit .deposit-method {
	padding: 8px;
	text-align: center;
	background-color: #9c3737;
	color: #fff;
	margin-bottom: 16px;
}

.profile .info .tab-content #tab-deposit #form-deposit .form-group label {
	font-weight: 500;
	color: #ff9393;
}

/* #1. thông tin chung  */
#tab-profile a {
	color: #0d6efd;
}

#tab-profile .tab-avatar-frame-content {
	background-color: #666565;
	padding: 16px;
    padding-bottom: 48px;
    border-radius: 10px;
}

#tab-profile .tab-avatar-frame-content .nav-tabs {
	border: 0px;
}

#tab-profile .list-owned-icon {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

#tab-profile .list-owned-icon .icon-owned {
	width: 70px;
	height: auto;
	padding: 8px;
	background-color: #fff;
	border: 1px solid red;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	opacity: 1;
}

#tab-profile .list-owned-icon .icon-owned:has(.loading) {
	opacity: 0.6;
}

#tab-profile .list-owned-icon .icon-owned img:not(.loading) {
	width: 100%;
	height: auto;
}

#tab-profile .list-owned-icon .icon-owned .loading {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 23px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.account-info .info-detail .group .detail {
	display: table-cell;
	font-weight: 500;
}

.user-page .account-info {
	position: relative;
	margin-bottom: 30px;
}

.user-page .posttitle {
	font-weight: 500;
	border-left: 3px solid #2aa5f2;
	padding-left: 10px;
	font-size: 18px;
	line-height: 1.5;
	margin: 0 0 20px;
	min-height: 27px;
}

.account-info .info-detail {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 15px 20px;
}

.account-info .info-detail .group {
	margin-bottom: 10px;
}

.account-info .info-detail .group .label {
	min-width: 200px;
	float: left;
	width: 100px;
	color: #ffffff;
	font-size: 100%;
	text-align: left;
	font-weight: 400;
	display: inline-table;
}

.info-detail {
	font-size: 13px;
}

/* 1// end - thông tin chung  */
/* 3. [phim theo dõi]   */
.movies-list .movie-item {
	width: 25%;
	font-family: Comfortaa, sans-serif;
}

/* End #. [Phim theo dõi]  */

/* [Lịch Sử Xem Phim] */
ul.list-film {
	overflow: hidden;
	clear: both;
	padding: 4px;
	font-size: 11px;
	padding: 3px;
}

.film_lastwatch_grid {
	padding: 5px;
	margin: 0 5px 10px;
	position: relative;
	color: #000;
	line-height: 1.5em;
	font-size: 1.1em;
	display: grid;
	grid-template-columns: 120px calc(100% - 120px);
	height: 70px;
	overflow: hidden;
	border: 1px solid#e7e7e7;
	border-radius: 10px;
	background: #f9f9f9;
}

.film_lastwatch_round {
	position: relative;
	/* min-height: 70px; */
	/* border-radius: 7px; */
	overflow: hidden;
}

.film_lastwatch_iconplay {
	width: 40px;
	transform: translate(-50%, -50%) !important;
	left: 50%;
	top: 50%;
	position: absolute;
	display: none;
}

.film_lastwatch_title_deswap {
	display: none;
}

.film_lastwatch_title_desweb {
	padding-left: 15px;
	max-height: 65px;
	overflow: hidden;
}

.film_lastwatch_timeline {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 2px;
	background: red;
	color: #fff;
}

/* [Lịch Sử Xem Phim] */

/* [thông báo -css] */
.wrappertab_notification {
	background: #fff;
	border-top: none;
	border-bottom: none;
	padding: 15px 5px 10px;
	overflow: hidden;
}

.wrappertab_notification .tab_notification.active {
	background: #2aa5f2;
	border: 1px solid #2aa5f2;
	color: #fff;
}

.wrappertab_notification .tab_notification {
	color: #7e7e7e;
	border: 1px solid #2aa5f2;
	margin: 0 10px;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.tab_notification.active a {
	color: #fff;
}

.wrappertab_notification .tab_notification {
	color: #7e7e7e;
	border: 1px solid #2aa5f2;
	margin: 0 10px;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.noti {
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}

.noti-two {
	padding: 10px 0;
	font-size: 0.8em;
	color: #777;
}

.noti-two span {
	color: #FFF;
	padding-right: 10px;
	cursor: pointer;
}

.center {
	text-align: center;
	cursor: pointer;
}

/* [End - thông báo ] */

/* [bình luận] */
.cmt-time {
	padding-left: 15px;
}

/* Avatar Frame */
.list-store-item {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.list-store-item .store-item {
	width: 70px;
	height: auto;
	padding: 8px;
	background-color: #666565;
	border-radius: 6px;
	cursor: pointer;
}

.list-store-item .store-item.active {
	background-color: #fff;
	border: 1px solid red;
}

.list-store-item .store-item.owned {
	background-color: #fff;
	border: 1px solid red;
}

.list-store-item .store-item img {
	width: 100%;
	height: auto;
}

.icon-store-price {
	padding-left: 30px;
}

.icon-store-price p {
	color: #ff8c8c;
	font-weight: 500;
	font-size: 22px;
}

.icon-store-price .buy-icon {
	width: 120px;
}
/* End Avatar Frame */

.profile .vip-info {
	display: flex;
	padding: 20px;
	background-color: #505050;
	margin-bottom: 24px;
}

.profile .vip-info .days {
	display: flex;
	align-items: center;
	column-gap: 10px;
	color: #ff9393;
	font-weight: 600;
}

#tab-profile a.tab-store,
#tab-store a.tab-store {
	color: #fff;
}

#tab-profile a.tab-store.active,
#tab-store a.tab-store.active {
	color: #0d6efd;
}

#tab-store .store-icon-price p {
	color: #ff8c8c;
    font-weight: 500;
    font-size: 22px;
}

#tab-store .store-icon-price p.icon-name {
	color: #7dcdff;
	margin: 0;
}

#tab-store .store-icon-price .buy-icon {
	width: 120px;
}

#tab-store .store-overview {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.user-figure {
	width: 70px;
    height: 80px;
    position: relative;
    padding: 0;
    left: -5px;
}

.user-figure img {
	position: absolute;
    left: 0;
    top: 8px;
	min-width: 70px;
	z-index: 5;
}

.user-figure img.khuon-mat-default {
	z-index: 4;
}

.user-figure img.canh-default {
	z-index: 3;
}

.user-figure img.hao-quang-default {
	z-index: 2;
}

.user-figure img.non-default {
	z-index: 6;
}

.user-figure img.kinh-default {
	z-index: 6;
}

.user-figure img.mat-na-default {
	z-index: 7;
}

@media (max-width: 991px) {
	.profile {
		flex-direction: column;
	}

	.profile .navigation {
		width: 100%;
		margin-bottom: 16px;
	}
}

@media (max-width: 767px) {
	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item {
		width: 33.33%;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item img {
		height: 100%;
		width: 100%;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item a:not(.delete) div:has(img) {
		flex: 1;
	}
}

@media (max-width: 591px) {
	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .episode-latest {
		font-size: 12px;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .name-movie {
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .episode-latest {
		left: 10px;
		font-size: 10px;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item img {
		height: 100% !important;
		width: 100%;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .delete {
		padding: 1px 5px;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .name-movie {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .episode-latest {
		font-size: 8px;
	}

	.profile .info {
		padding-left: unset;
		padding: 10px 0px;
	}

	.profile .info .tab-content #tab-movie-follow .movie-follow .movies-list .movie-item .name-movie {
		font-size: 10px;
	}
}
.modal {
	left: 30% !important;
}
@media(max-width: 400px){
	.modal {
		left: 0 !important;
	}
}
